Trunk/TBox/Plugins/Market/MarketClient/Service References/ServiceReference/MarketService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPairOfstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PairOfstringint" nillable="true" type="tns:PairOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPairOfstringint" nillable="true" type="tns:ArrayOfPairOfstringint" />
  <xs:complexType name="PairOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Common.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Key" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PairOfstringint" nillable="true" type="tns:PairOfstringint" />
</xs:schema>