Trunk/TBox/Plugins/Market/MarketClient/Service References/ServiceReference/MarketService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MarketService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MarketInterfaces" />
  <xs:import schemaLocation="http://localhost:8080/MarketService?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8080/MarketService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Common.Data" />
  <xs:import schemaLocation="http://localhost:8080/MarketService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Plugin_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="filter" nillable="true" type="q1:Plugin" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="onlyPlugins" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="Plugin_GetListResult" nillable="true" type="q2:ArrayOfPlugin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_GetListCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="filter" nillable="true" type="q3:Plugin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_GetListCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Plugin_GetListCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Author" nillable="true" type="xs:string" />
  <xs:element name="Name" nillable="true" type="xs:string" />
  <xs:element name="DataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="FileByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.Data" name="Descriptions" nillable="true" type="q5:ArrayOfPairOfstringint" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="PluginUploadContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="FileByteStream" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MarketInterfaces" name="Item" nillable="true" type="q7:Plugin" />
  <xs:element name="UploadContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Exist" type="xs:boolean" />
  <xs:element name="Success" type="xs:boolean" />
  <xs:element name="Plugin_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="plugin" nillable="true" type="q8:Plugin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Plugin_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="plugin" nillable="true" type="q9:Plugin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugin_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Plugin_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="Bug_GetListResult" nillable="true" type="q10:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_GetListCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_GetListCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Bug_GetListCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MarketInterfaces" minOccurs="0" name="bug" nillable="true" type="q11:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bug_SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Author_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Author_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Author_GetListResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Type_GetListResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>