Trunk/TBox/Plugins/Market/MarketClient/Service References/ServiceReference/MarketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarketInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarketInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MarketService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Plugin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dependenses" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Downloads" type="xs:long" />
      <xs:element minOccurs="0" name="IsPlugin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploads" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plugin" nillable="true" type="tns:Plugin" />
  <xs:complexType name="ArrayOfPlugin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plugin" nillable="true" type="tns:Plugin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlugin" nillable="true" type="tns:ArrayOfPlugin" />
  <xs:complexType name="ArrayOfBug">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bug" nillable="true" type="tns:Bug" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBug" nillable="true" type="tns:ArrayOfBug" />
  <xs:complexType name="Bug">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PluginUID" type="xs:long" />
      <xs:element minOccurs="0" name="UID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bug" nillable="true" type="tns:Bug" />
</xs:schema>